@media (min-device-width: 1367px) {

* {
    font-family: 'Chewy', cursive;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('./img/pozadina.png');
}

header {
    text-align: center;
}

#title {
    font-size: 120px;
    letter-spacing: 10px;
    color: #56AE45;
    position: relative;
    top: 0;
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.letter-a,
.letter-c,
.letter-e,
.letter-p,
.letter-M,
.letter-s,
.letter-z {
    position: relative;
}

.letter-M {
    color: #0099FF;
}

.letter-a {
    color: #FF8056;
    top: 20px;
}

.a2 {
    top: -10px;
}

.letter-z {
    color: #56AE45;
}

.letter-e {
    color: #ED558A;
     top: 25px;
}

.letter-s {
    color: white;
    top: -10px;
}

.letter-c {
    color: #50C5B7;
    top: 25px;
}

.letter-p {
    color: #E14141;
}

main {
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
}
.earth-image {
    position: relative;
    top: 100px;
}

.nlo-large {
    position: absolute;
    top: 150px;
}

.nlo-medium {
    position: absolute;
    top: 350px;
    right: 600px;
    height: 54px;
    width: 112px;
}
.nlo-small {
    position: absolute;
    top: 500px;
    right: 800px;
    height: 27px;
    width: 56px;
}

.hvr-wobble-top:hover {
    cursor: default;
}
#leaderboard-button-container {
    position: relative;
    margin-top: 20px;
    top: 0px;
    display: inline-block;  
    width: 400px;
    padding: 20px 40px;
    background-color: #6DAC1D;
    border-radius: 400px;
    border: 5px solid #333A46;
    transition: all .2s ease-in-out;
}

#leaderboard-title {
    font-size: 65px;
    margin: 0;
    color: white;
    letter-spacing: 4px;
    text-shadow: -2px 0 #4A4A4A, 0 2px #4A4A4A, 2px 0 #4A4A4A, 0 -2px #4A4A4A;
    top: 0px;
}

#leaderboard-button-container:hover {
    background-color: #3FB8AF;
    transform: scale(1.2);
    cursor: pointer;
}

#play-button-container {
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #6DAC1D;
    border-radius: 400px;
    border: 5px solid #333A46;
    transition: all .2s ease-in-out;
}

#play-title {
    font-size: 65px;
    margin: 0;
    color: white;
    letter-spacing: 4px;
    text-shadow: -2px 0 #4A4A4A, 0 2px #4A4A4A, 2px 0 #4A4A4A, 0 -2px #4A4A4A;
    top: 0px;
}

#play-button-container:hover {
    background-color: #3FB8AF;
    transform: scale(1.2);
    cursor: pointer;
}

}
@media screen and (max-width:1366px){

    header {
    text-align: center;
}

    body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('./img/pozadina.png');
}

    #title {
    font-size: 80px;
    letter-spacing: 6px;
    color: #56AE45;
    position: relative;
    top: 0;
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.letter-a,
.letter-c,
.letter-e,
.letter-p,
.letter-M,
.letter-s,
.letter-z {
    position: relative;
}

.letter-M {
    color: #0099FF;
}

.letter-a {
    color: #FF8056;
    top: 15px;
}

.a2 {
    top: -6px;
}

.letter-z {
    color: #56AE45;
}

.letter-e {
    color: #ED558A;
     top: 18px;
}

.letter-s {
    color: white;
    top: -6px;
}

.letter-c {
    color: #50C5B7;
    top: 18px;
}

.letter-p {
    color: #E14141;
}

main {
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
}
.earth-image {
    position: relative;
    top: 0px;
}

.nlo-large {
    position: absolute;
    top: 100px;
    width: 200px;
    height: 80px;
}

.nlo-medium {
    position: absolute;
    top: 300px;
    right: 350px;
    height: 48px;
    width: 100px;
}
.nlo-small {
    position: absolute;
    top: 400px;
    right: 600px;
    height: 20px;
    width: 48px;
}

.hvr-wobble-top:hover {
    cursor: default;
}

#leaderboard-button-container {
    position: relative;
    margin-top: 20px;
    top: 0px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #6DAC1D;
    border-radius: 100px;
    border: 4px solid #333A46;
    transition: all .2s ease-in-out;
}

#leaderboard-title {
    font-size: 40px;
    margin: 0;
    color: white;
    letter-spacing: 3px;
    text-shadow: -2px 0 #4A4A4A, 0 2px #4A4A4A, 2px 0 #4A4A4A, 0 -2px #4A4A4A;
    top: 0px;
}

#leaderboard-button-container:hover {
    background-color: #3FB8AF;
    transform: scale(1.2);
    cursor: pointer;
}

#play-button-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 260px;
    padding: 20px 40px;
    background-color: #6DAC1D;
    border-radius: 400px;
    border: 4px solid #333A46;
    transition: all .2s ease-in-out;
}

#play-title {
    font-size: 40px;
    margin: 0;
    color: white;
    letter-spacing: 4px;
    text-shadow: -2px 0 #4A4A4A, 0 2px #4A4A4A, 2px 0 #4A4A4A, 0 -2px #4A4A4A;
    top: 0px;
}

#play-button-container:hover {
    background-color: #3FB8AF;
    transform: scale(1.2);
    cursor: pointer;
}
}